Code
dconf
google-chrome
gtk-3.0
nautilus
user-dirs.dirs
user-dirs.locale
pulse
Code - OSS
go/telemetry
systemd
gtk-4.0
mimeapps.list
pavucontrol.ini
simple-update-notifier
vesktop
YandexMusic
yandex-music.conf
font-manager
fontconfig
obs-studio
htop
QtProject.conf
porcupine_debug.log
qBittorrent
ignis/modules/chatai
ignis/__pycache__
autostart
ignis/modules/bar/__pycache__
waypaper
ignis/modules/control_center/__pycache__
ignis/modules/launchpad/__pycache__
ignis/modules/notification_popup/__pycache__
ignis/modules/osd/__pycache__
ignis/modules/power/__pycache__
yandex-music
GIMP
github-copilot
.zed
zed
.gsd-keyboard.settings-ported
baloofilerc
.avalonia-build-tasks
