Code
dconf
google-chrome
gtk-3.0
nautilus
user-dirs.dirs
user-dirs.locale
pulse
Code - OSS
go/telemetry
systemd
gtk-4.0
mimeapps.list
pavucontrol.ini
simple-update-notifier
vesktop
YandexMusic
yandex-music.conf
font-manager
fontconfig
obs-studio