* {
    all: unset;
    font-weight: bold;
    transition:
        background-color 300ms ease-in-out,
        color 300ms ease-in-out,
        border-color 300ms ease-in-out;
}

@import "./scss/theme_vars";
@import "./scss/themes";

@mixin window {
    background-color: var(--theme-bg);
    border-radius: 1rem;
    border: 1px solid var(--theme-bg-light);
    padding: 1rem;
    color: var(--theme-fg);
    margin: 1rem;
}

@mixin hover($bg) {
    background-color: var(--theme-bg);
    &:hover {
        background-color: var(--theme-bg-light);
    }
}

popover.menu {
    contents {
        background-color: var(--theme-bg);
        padding: 0.35rem;
        border-radius: 0.5rem;
        border: 1px solid var(--theme-silver-transparent);
        modelbutton {
            transition: 0.3s;
            border-radius: 0.5rem;
            padding: 0.25rem 1rem;
            color: var(--theme-fg);

            &:hover {
                background-color: var(--theme-bg-light);
            }
        }
        separator {
            background-color: var(--theme-silver-transparent);
            min-height: 0.1rem;
            margin: 0.5rem 0;
        }

        label:disabled {
            color: var(--theme-unactive);
        }

        arrow {
            opacity: 0.3;
            &:hover {
                background: none;
            }
            &.left {
                -gtk-icon-source: -gtk-icontheme("go-previous-symbolic");
            }
            &.right {
                -gtk-icon-source: -gtk-icontheme("go-next-symbolic");
            }
        }
    }
}

@import "./scss/bar.scss";
@import "./scss/dock.scss";
@import "./scss/launchpad.scss";
@import "./scss/osd.scss";
@import "./scss/notification_popup.scss";
@import "./scss/control_center.scss";
@import "./scss/power.scss";
@import "./scss/wallpaper_panel.scss";
@import "./scss/media.scss";
