.bar {
    padding: 0.4rem 1rem;
    background-color: var(--theme-bg);
    color: var(--theme-active);
    border-bottom: 2px solid var(--theme-silver-transparent);
}

.middle-separator {
    background-color: var(--theme-unactive);
    padding: 0 0.03rem;
}

.volume-slider trough {
    min-width: 100px;
    background-color: var(--theme-unactive);
    min-height: 0.3rem;
    border-radius: 1rem;
    border: 1px solid var(--theme-silver-transparent);

    highlight {
        background-color: var(--theme-active);
        color: var(--theme-active);
    }

    slider {
        background-color: var(--theme-active);
        min-height: 15px;
        min-width: 15px;
        margin: -4px;
        border-radius: 1rem;
    }
}

.workspaces {
    padding: 5px 5px;
    border-radius: 12px;
    background-color: var(--theme-bg);
    border: 1px solid var(--theme-silver-transparent);
    min-height: 1.6rem;
}

.workspace {
    padding: 0 1rem;
    border-radius: 12px;
    border: 1px solid var(--theme-silver-transparent);
    background-color: var(--theme-bg-light);
    transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    opacity: 0.6;

    &:hover {
        opacity: 1;
    }
    &.active {
        background-color: var(--theme-bg-light);
        padding: 0 1.6rem;
        opacity: 1;
    }
}

.tray-item {
    all: unset;
}

.clock {
    font-size: 1rem;
    margin-right: 0.5rem;
}
