.bar {
    padding: 0.4rem 1rem;
    background-color: $bg;
    color: $active;
    border-bottom: 2px solid $silver-transparent;
}

.workspaces {
    padding: 5px 5px;
    border-radius: 12px;
    background-color: rgba(69, 69, 69, 0.13);
    border: 1px solid $silver-transparent;
    min-height: 1.6rem;
}

.workspace {
    padding: 0px 15px;
    border-radius: 12px;
    background-color: $unactive;
    transition: all 0.3s ease-in-out;
    opacity: 0.4;
}

.workspace.active, .workspace:hover  {
    background-color: $unactive;
    min-width: 25px;
    transition: all 0.3s ease-in-out;
    opacity:1.0;
}

.tray-item {
    all: unset;
}

.clock {
    font-size: 1rem;
    margin-right: 0.5rem;
}

.vpn-button {
    color: $unactive;
    transition: color 0.3s ease;
}

.vpn-button.vpn-active {
    color: $active;
}