.control-center {
    min-width: 29rem;
    border-left: 1px solid var(--theme-silver-transparent);
    background-color: var(--theme-bg);
}

.control-center-widget {
    padding: 0.85rem;
    border: 1px solid var(--theme-silver-transparent);
    border-radius: 1rem;
    margin: 0.85rem 0.85rem 0 0.85rem;
    background-color: var(--theme-bg);
}

.control-center-switch {
    min-width: 24px;
    min-height: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
    background-color: var(--theme-bg);
    border: 1px solid var(--theme-silver-transparent);
    transition: all 0.3s ease;
    margin-right: 4px;

    slider {
        background-color: var(--theme-active);
        padding: 0.01rem;
        border-radius: 1rem;
    }

    &:checked {
        background-color: var(--theme-bg-light);

        slider {
            background-color: var(--theme-active);
        }
    }
}

.qs-button {
    @include hover(var(--theme-bg));
    color: var(--theme-active);
    min-height: 2.2rem;
    border-radius: 1.2rem;
    padding: 0.2rem 0.8rem;
    margin-right: 0.4rem;
    margin-top: 0.4rem;
    border: 1px solid var(--theme-silver-transparent);

    &.active {
        background-color: var(--theme-bg-light);
        color: var(--theme-active);
    }
}

.qs-button-label {
    margin-left: 0.5rem;
}

.volume-slider trough,
.volume-slider trough highlight {
    background-color: var(--theme-bg);
    border-radius: 1rem;
    min-height: 1rem;
}

.volume-slider trough highlight {
    background-color: var(--theme-unactive);
}

.volume-entry-list,
.ethernet-network-list,
.wifi-network-list {
    margin-top: 1rem;
    border-radius: 1rem;
    margin: 0.2rem;
    margin-top: 1rem;
    padding: 1rem;
    border: 1px solid var(--theme-silver-transparent);
    background: var(--theme-bg-light);
    color: var(--theme-active);
}

.volume-entry {
    @include hover(var(--theme-bg-light));
    margin-bottom: 0.8rem;
    transition: 0.3s;
    border-radius: 1rem;
    padding: 0.5rem 0.5rem;
}

.volume-entry-list-header-label {
    font-size: 1.35rem;
    margin-left: 0.5rem;
}

.volume-entry-list-header-box {
    margin-bottom: 0.75rem;
}

.volume-icon {
    padding: 0.35rem;
    transition: 0.3s;
    margin-right: 0.5rem;
}

.volume-arrow {
    transition: 0.3s;
    margin-left: 0.5rem;
}

.user-name-box {
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
}

.user-name {
    color: var(--theme-active);
    font-size: 0.9rem;
}

.user-name-secondary {
    color: var(--theme-active);
    font-size: 0.8rem;
}

.user-settings,
.user-power {
    @include hover(var(--theme-bg-light));
    color: var(--theme-active);
    border-radius: 2rem;
    min-width: 2.35rem;
    margin: 0.4rem 0rem;
    margin-right: 0.5rem;
    transition: 0.3s;
}

.ethernet-header-box,
.wifi-header-box {
    margin-bottom: 0.5rem;
    color: var(--theme-active);
}

.ethernet-header-label {
    font-size: 1.35rem;
    margin-left: 0.75rem;
}

.wifi-header-label {
    font-size: 1.35rem;
}

.ethernet-connection-item,
.wifi-network-item {
    @include hover(var(--theme-bg-light));
    border: 1px solid var(--theme-silver-transparent);
    transition: 0.3s;
    border-radius: 1rem;
    padding: 0.5rem 0.5rem;
    margin-top: 1rem;
    color: var(--theme-active);
}

.ethernet-connection-label,
.wifi-network-label {
    margin-left: 0.5rem;
}

.ethernet-connection-item-connect-label {
    color: var(--theme-active);
    font-size: 1rem;
}

.volume-entry-label {
    margin-left: 0.5rem;
    margin-right: 1rem;
}

.bluetooth-device-list {
    margin-top: 1rem;
    border-radius: 1rem;
    margin: 0.2rem;
    margin-top: 1rem;
    padding: 1rem;
    border: 1px solid var(--theme-silver-transparent);
    background: var(--theme-bg-light);
    color: var(--theme-active);
}

.bluetooth-header-box {
    margin-bottom: 0.5rem;
    color: var(--theme-active);
}

.bluetooth-header-label {
    font-size: 1.35rem;
}

.bluetooth-device-item {
    @include hover(var(--theme-bg-light));
    border: 1px solid var(--theme-silver-transparent);
    transition: 0.3s;
    border-radius: 1rem;
    padding: 0.5rem 0.5rem;
    margin-top: 1rem;
    color: var(--theme-active);
}

.bluetooth-device-label {
    margin-left: 0.5rem;
}

calendar {
    padding: 0.85rem;
    color: var(--theme-active);
    background-color: var(--theme-bg);
    border: 1px solid var(--theme-silver-transparent);
    border-radius: 1rem;
    margin: 0 0.85rem 0.85rem 0.85rem;
    min-height: 18rem;
    font-size: 1rem;
}

.notification-center {
    color: var(--theme-active);
    background-color: var(--theme-bg);
    border: 1px solid var(--theme-silver-transparent);
    border-radius: 1rem;
    margin: 0 0.85rem 0 0.85rem;
    padding: 0.85rem;
    min-height: 22rem;
}

.notification-center-header {
    margin-bottom: 1rem;
}

.notification {
    @include hover(var(--theme-bg-light));
    transition: 0.3s;
    border: 1px solid var(--theme-silver-transparent);
    border-radius: 1rem;
    padding: 1rem;
    margin: 0.2rem;
    margin-top: 1rem;
}

.notification-header-label,
.notification-count {
    font-size: 1.1rem;
    margin-left: 0.5rem;
}

.notification-close {
    @include hover(var(--theme-bg-light));
    color: var(--theme-active);
    border-radius: 1rem;
    padding: 0.2rem;
    margin-left: 0.5rem;
    transition: 0.3s;
    border: 1px solid var(--theme-silver-transparent);
}

.notification-clear-all {
    @include hover(var(--theme-bg-light));
    transition: 0.3s;
    border-radius: 1rem;
    padding: 0.25rem 1rem;
}

.notification-action {
    color: var(--theme-active);
    @include hover(var(--theme-bg-light));
    border-radius: 0.5rem;
    padding: 0.25rem 0.25rem;
    transition: 0.3s;
}

.notification-screenshot-label {
    margin-top: 0.5rem;
    font-size: 1.1rem;
}

.notification-center-info-label {
    color: var(--theme-active);
}

.notification-body {
    color: var(--theme-unactive);
}
