.dock {
    padding: 0.4rem;
    padding-bottom: 0;
    background-color: $bg;
    color: $active;
    border-radius: 1.2rem;
    margin: 0.5rem;
    border: 1px solid $silver-transparent;
}

.left,
.center,
.right {
    margin: 0.4rem;
}

.launcher-button-dock {
    margin-top: 0.4rem;
    margin-left: 0.6rem;
    margin-right: 1rem;
}

.launcher-button-dock popover.menu {
    margin-bottom: 0.4rem;
}

.trash-button-dock {
    margin-top: -0.4rem;
    margin-left: 0.4rem;
    padding: 0.3rem 0.3rem;
}

.app-item-dock-button {
    padding: 0.3rem 0.3rem;
    border: 1px solid transparent;
    border-radius: 1.2rem;
}

.app-item-dock-button:hover {
    background-color: $bg;
    border: 1px solid $silver-transparent;
    transition: all 1s;
}

.app-item-indicator-start {
    margin-top: -12px;
}

.dock-separator {
    background-color: silver;
    min-width: 2px;
    margin-top: 8px;
    margin-bottom: 12px;
    border-radius: 5px;
}

.app-item-dock.drop-target .app-item-dock-button,
.app-item-dock.drop-prohibited .app-item-dock-button {
    transition: all 0.8s;
}

.app-item-dock {
    transition:
        transform 0.2s ease,
        opacity 0.3s ease;
}

.app-item-dock.dragging {
    opacity: 0.7;
    transform: scale(1.1);
}

.app-item-dock.drop-target {
    transform: translateY(-5px);
}
