.dock {
    padding: 0.4rem;
    padding-bottom: 0;
    background-color: var(--theme-bg);
    color: var(--theme-active);
    border-radius: 1.2rem;
    margin: 0.5rem;
    border: 1px solid var(--theme-silver-transparent);
}

.dock-overlap-detector {
    background-color: transparent;
    min-height: 3rem;
    margin: 0.5rem;
    border-radius: 1.2rem;
    opacity: 0;
}

.left,
.center,
.right {
    margin: 0.4rem;
}

.launcher-button-dock {
    margin-top: 0.4rem;
    margin-left: 0.6rem;
    margin-right: 1rem;
}

.launcher-button-dock popover.menu {
    margin-bottom: 0.4rem;
}

.trash-button-dock {
    margin-top: -0.4rem;
    margin-left: 0.4rem;
    padding: 0.3rem 0.3rem;
}

.app-item-dock-button {
    padding: 0.3rem 0.3rem;
    border: 1px solid transparent;
    border-radius: 1.2rem;
    &:hover {
        background-color: var(--theme-bg);
        border: 1px solid var(--theme-silver-transparent);
        transition: all 1s;
    }
}

.app-item-indicator-start {
    margin-top: -12px;
    color: white;
}

.dock-separator {
    background-color: white;
    min-width: 2px;
    margin-top: 8px;
    margin-bottom: 12px;
    border-radius: 5px;
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-10px);
    }
    50% {
        transform: translateX(10px);
    }
    75% {
        transform: translateX(-10px);
    }
    100% {
        transform: translateX(0);
    }
}

.app-item-dock.shake {
    animation: shake 0.5s ease;
}

.app-item-dock.drop-target .app-item-dock-button,
.app-item-dock.drop-prohibited .app-item-dock-button {
    transition: all 0.8s;
}

.app-item-dock {
    transition:
        transform 0.2s ease,
        opacity 0.3s ease;
}

.app-item-dock.dragging {
    transform: scale(1.1);
    opacity: 0.8;
    transition:
        transform 0.2s ease,
        opacity 0.2s ease;
}

.app-item-dock.drop-target {
    transform: translateY(-5px);
}
