.launchpad{
    background: #00000050;
}

.overview {
    margin: 0;
    border-radius: 0;
    min-width: 155rem;
}

.launchpad-search {
    all: unset;
    min-width: 20rem;
}


.launchpad-search-box {
    padding: 0.75rem 1rem;
    background-color: $bg;
    border-radius: 1rem;
    border: 2px solid $bg-light;
    min-width: 10rem;
    margin-top: 8rem;
}

.launchpad-scroll {
    margin-top: 5rem;
    min-height: 85rem;
}

.launchpad-app, .launchpad-app-search-box {
    all: unset;
    border-radius: 1rem;
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    margin: 3rem;
    margin-top: 0.5rem;
    transition: 0.3s;
    border: 1px solid transparent;
    
    &:focus, &:hover {
        background: $bg-light;
        border: 1px solid silver;
    }
}

.launchpad-app-search-box{
    min-width: 145rem;
    border: 1px solid silver;
    background: $bg-light;
}

.launchpad-app-search{
    margin-left: 64.5rem;
}

.launchpad-app-label {
    font-size: 0.8rem;
}

.launchpad-app-label-search{
    font-size: 1rem;
}

