.launchpad {
    background: var(--theme-bg);
}

.launchpad-search-container {
    padding: 0.75rem 1rem;
    background-color: var(--theme-bg);
    border-radius: 1rem;
    border: 2px solid var(--theme-bg-light);
    min-width: 30rem;
    margin: 4rem 2rem 2rem;
}

.launchpad-search {
    all: unset;
    min-width: 20rem;
    margin-left: 0.5rem;
    color: var(--theme-active);
}

.launchpad-search-icon {
    color: var(--theme-active);
}

.launchpad-scroll {
    margin: 2rem 0;
}

.launchpad-scroll scrollbar {
    background-color: transparent;
    border: none;

    slider {
        min-width: 6px;
        min-height: 6px;
        border-radius: 3px;
        background-color: var(--theme-bg-light);

        &:hover {
            min-width: 8px;
            min-height: 8px;
            background-color: var(--theme-active);
        }
    }
}

.launchpad-app {
    all: unset;
    border-radius: 1rem;
    padding: 10px;
    transition: all 0.2s;
    border: 1px solid transparent;

    &:focus,
    &:hover {
        background-color: var(--theme-bg-light);
        border: 1px solid var(--theme-silver-transparent);
    }
}

.launchpad-app-label {
    font-size: 0.9rem;
    margin-top: 10px;
    color: var(--theme-active);
}

.launchpad-app-icon {
    margin-bottom: 6px;
}

.launchpad-empty-label {
    color: var(--theme-active);
    font-size: 1.2rem;
    margin-top: 4rem;
}
