.media {
    margin-top: 1rem;
}

.media-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 7.5rem;
    border-radius: 1.5rem;
    border: 2px solid var(--theme-bg-light);
}

.media-image-gradient {
    border-radius: 1.3rem;
    background-color: #5a5a5a50;
    opacity: 0.8;
}

.media-scale trough,
.media-scale trough highlight {
    background-color: var(--theme-bgb);
    border-radius: 1rem;
    min-height: 0.4rem;
}

.media-scale trough highlight {
    background-color: var(--theme-unactive);
    border-radius: 0rem;
}

.media-scale slider {
    background-color: var(--theme-active);
    border-radius: 1rem;
    margin: -0.5rem -0.3rem;
    padding: 0.5rem;
}

.media-title {
    color: var(--theme-active);
}

.media-artist {
    color: var(--theme-active);
    font-weight: normal;
}

.media-content {
    padding: 1rem;
}

.media-playback-button {
    background-color: var(--theme-bgb);
    color: var(--theme-unactive);
    border-radius: 4rem;
    min-width: 2.7rem;
    min-height: 2.7rem;
    transition: 0.3s;
    border: 1px solid var(--theme-silver-transparent);

    &:hover {
        background-color: var(--theme-bgb-light);
    }

    &.playing {
        border-radius: 1rem;
    }
}

.media-player-icon {
    color: var(--theme-bgb);
    font-size: 1.6rem;
    padding: 1rem;
    font-family: "JetBrains Mono Nerd Font";
}

.media-skip-button {
    transition: 0.3s;
    color: var(--theme-active);
    &:hover {
        color: var(--theme-active);
    }
}
