.notification-popup {
    @include window;
    min-width: 25rem;

    & .notification-close {
        @include hover(var(--theme-bg));
    }

    & .notification-action {
        @include hover(var(--theme-bg-light));
    }
}

.fade-out {
    transition: opacity 0.3s ease-out;
    opacity: 0;
}
