.power-window {
    background-color: var(--theme-bg);
}

.power-menu {
    padding: 1rem;
    color: var(--theme-fg);
}

.power-button {
    background: var(--theme-bg-light);
    border: 2px solid transparent;
    padding: 1rem;
    border-radius: 0.5rem;
    transition: all 0.38s;
    min-width: 5.5rem;

    &:hover {
        background: var(--theme-bg-light);
        border: 2px solid var(--theme-bg-light);
    }
}
