* {
    all: unset;
    font-weight: bold;
}

// main colors for all system

$bg:  #00000050;
$bg-light: #5a5a5a50;
$bgb: #131313;
$bgb-light: #222222;
$fg: #dfdef0;
$active: #ffffff;
$unactive: #bbbbbb;
$silver-transparent: rgba(105, 105, 105, 0.4);

@mixin window {
    background-color: $bg;
    border-radius: 1rem;
    border: 1px solid $bg-light;
    padding: 1rem;
    color: $fg;
    margin: 1rem;
}

@mixin hover($bg) {
    background-color: $bg;
    &:hover {
        background-color: lighten($bg, 5%);
    }
}

popover.menu {
    contents {
        background-color: $bg;
        padding: 0.35rem;
        border-radius: 0.5rem;
        border: 1px solid $silver-transparent;
        min-width: 10rem;
        modelbutton {
            transition: 0.3s;
            border-radius: 0.5rem;
            padding: 0.25rem 1rem;
        }
        modelbutton:hover {
            background-color: mix($bg, $unactive, 80%);
        }
        separator {
            background-color: mix($bg, $unactive, 90%);
            min-height: 0.1rem;
            margin: 0.5rem 0;
        }

        label:disabled {
            color: $unactive;
        }

        arrow {
            opacity: 0.3;
            &:hover { background: none; }
            &.left { -gtk-icon-source: -gtk-icontheme("go-previous-symbolic"); }
            &.right { -gtk-icon-source: -gtk-icontheme("go-next-symbolic"); }
          }
    }
}

@import "./bar.scss";
@import "./launchpad.scss";




// exampl style class
.volume-slider trough {
    min-width: 100px;
    background-color: $unactive;
    min-height: 0.3rem;
    border-radius: 1rem;

    highlight {
        background-color: $active;
    }

    slider {
        background-color: $fg;
        min-height: 15px;
        min-width: 15px;
        margin: -4px;
        border-radius: 1rem;
    }
}